[submodule "extras"]
	path = extras
	url = https://github.com/pibook/extras.git
	branch = master
[submodule "quotes"]
	path = quotes
	url = https://github.com/pibook/_quotes.git
	branch = master
[submodule "figures"]
	path = figures
	url = https://github.com/pibook/_gallery
[submodule "images"]
	path = images
	url = https://github.com/pibook/images
[submodule "text"]
	path = text
	url = https://github.com/mibook/text.git
	branch = main
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/pibook/bibliography.git
