[submodule "master"]
	path = master 
	url = https://github.com/pibook/manuscript.git
	branch = master
[submodule "extras"]
	path = extras
	url = https://github.com/pibook/extras.git
	branch = master
[submodule "quotes"]
	path = quotes
	url = https://github.com/pibook/_quotes.git
	branch = master
